:root {
  --text-color: #212121;
  --text-color2: #757575;
  --color3: #f5f4fa;
  --color4: rgba(255, 255, 255, 0.6);
  --color5: rgba(33, 150, 243, 1);
  --color6: #000;
  --color7: rgba(0, 0, 0, 0.12);
  --color8: rgba(0, 0, 0, 0.14);
  --color9: rgba(0, 0, 0, 0.2);
  --color10: rgba(0, 0, 0, 0.1);
  --color11: rgba(33, 150, 243, 0.9);
  --color12: rgba(255, 255, 255, 0.3);
  --color13: rgba(0, 0, 0, 0.15);
  --color14: rgba(0, 0, 0, 0.06);
  --color15: rgba(0, 0, 0, 0.16);
  --color16: rgba(0, 0, 0, 0.5);
  --color17: rgba(47, 48, 58, 0.4);
  --color18: rgba(47, 48, 58, 0.8);
  --color19: rgba(0, 0, 0, 0.08);
  --color20: rgba(255, 255, 255, 0.1);
  --color21: rgba(0, 0, 0, 0.4);
  --color22: rgba(33, 33, 33, 0.2);
  --hover-color: #188ce8;
  --background-color-header-and-main: #ffffff;
  --highlight-color: #2196f3;
  --footer-background-color: #2f303a;
  --hover-and-focus: blue;
  --font-weight-general: 400;
  --font-size-general: 14px;
  --font-weight-bold: bold;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --phone-width: 480px;
  --tablet-width: 768px;
  --general-width: 1200px;
  --font-normal: normal;
  --font-Roboto: "Roboto";
  --font-Raleway: "Raleway";
  --font-sans-serif: sans-serif;
}
